{% load bootstrap4 %}

{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} Головна {% endblock %} - ToDo</title>
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css"
        href="{% static 'main/style.css' %}">
        {% bootstrap_javascript jquery='slim' %}
    </head>
    <body class="container-fluid">
        <header class="mb-4">
            <h1 class="display-2 text-center">ToDoшка</h1>
        </header>
        <div class="row">
            <ul class="col nav justify-content-end border">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link"
                href="{% url 'logout' %}">Вихід</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link"
                href="{% url 'login' %}">Вхід</a></li>
                <li class="nav-item"><a class="nav-link"
                href="{% url 'register' %}">Регістрація</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="row">
            <nav class="col-md-auto nav flex-column border">
                <a class="nav-link root"
                href="{% url 'users_list' %}">Головна</a>
                <a class="nav-link" href="{% url 'dashboard:create' %}">Ввести данні</a>
                <a class="nav-link" href="{% url 'dashboard:list' %}">Мои данні</a>
            </nav>
            <section class="col border ру-2">
                {% bootstrap_messages %}
                {% block content %}
                {% endblock %}
            </section>
             <nav class="col-md-auto nav flex-column border">
                <ul>
                    {% for user in users_list %}
                    <li>
                        {{ user }}
                    </li>
                    {% endfor %}
                </ul>
             </nav>
        </div>
        <footer class="mt-3">
            <p class="text-right font-italic">&copy; by ATreT</p>
        </footer>
    </body>
</html>